
@tailwind base;
@tailwind components;
@tailwind utilities;

body.light {
  background-color: #eff6ff; /* azul claro */
  color: #1e293b; /* cinza escuro */
}

body.dark {
  background-color: #1a202c; /* cinza escuro */
  color: #f1f5f9; /* branco claro */
}
